<template>

  <div class="page" data-name="home">

    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">MLBC Archive</div>
      </div>
    </div>


    <div class="page-content">
    </div>

  </div>

</template>


<script>

  export default (props, { $on, $f7, $update }) => {
    return $render
  }

</script>