<template>
    <div id="app">

    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>

    <div class="view view-main">

    </div>



    </div>
</template>


<script>

  export default (props, { $on, $f7, $update }) => {
    return $render
  }

</script>